

<%= form_for([@category, @recipe], method: 'post') do |form| %>

  <p>
    <%= form.label :name, "Dish Name" %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :prep_time, "Prep time (minutes)" %><br>
    <%= form.text_area :prep_time %>
  </p>
  <br>

  <p>
    <%= form.label :instructions %><br>
    <%= form.text_area :instructions %>
  </p>
  <br>

  <p>
    <%= form.label "Difficulty Rating:" %>
    <%= form.select :difficulty, [1,2,3,4,5]%>
  </p>
  <br>

  <a href="/ingredients/new" class="add-ingredient-link" data-count="0">+ add ingredient</a>
  <%= render :partial=> 'ingredients/form', locals: {form: form, count: 0} %>
  <div class="ingredients-add-container">
  </div>

  <p>
    <%= form.submit %>
  </p>
<% end  %>
