

<%= form_for([@category, @recipe], method: 'post') do |form| %>

  <p>
    <%= form.text_field :name, placeholder: "dish name", class: "registration-form-field" %>
  </p>

  <p>
    <%= form.text_field :prep_time, placeholder: "prep time (minutes)", class: "registration-form-field"  %>
  </p>

  <p>
    <%= form.label :instructions, class: "new-haggis-label" %><br>
    <%= form.text_area :instructions %>
  </p>

  <p>
    <%= form.label "Difficulty Rating:", class: "new-haggis-label" %>
    <%= form.select :difficulty, [1,2,3,4,5]%>
  </p>

  <p>
    <%= form.label "Ingredients:", class: "new-haggis-ingredient-label" %>  
    <br />
    <%= render :partial=> 'ingredients/form', locals: {form: form, count: 0} %>
  </p>
  <a href="/ingredients/new" class="add-ingredient-link" data-count="0">+ add ingredient</a>
  <div class="ingredients-add-container">
  </div>  

  <p>
    <%= form.submit "submit recipe" %>
  </p>
<% end  %>
